<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="logo"><span>Diseño</span><span class="multimedia">Multimedia</span></div>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="#" class="actual">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="suscripcion">
            <span>Subscribete a nuestro boletín</span>
            <form>
                <input type="email" class="suscripcion-input" placeholder="Ingrese el email">
                <input type="submit" class="suscripcion-input" value="Subscribete">
            </form>
        </section>
        <section class="container">
            <article class="contenido">
                <h1>Contacto</h1>
                <form class="formulario-contacto">
                    <label>Nombre</label>
                    <input name="nombre" type="text" placeholder="Ingresa tu nombre">
                    <label>Email</label>
                    <input name="email" type="text" placeholder="Ingresa tu email">
                    <label>Teléfono</label>
                    <input name="telefono" type="text" placeholder="Ingresa tu teléfono">
                    <label>Celular</label>
                    <input name="celular" type="text" placeholder="Ingresa tu celular">
                    <label>Mensaje</label>
                    <textarea></textarea>
                    <input type="submit" class="suscripcion-input" value="Enviar">
                </form>
            </article>
            <aside>
                <div>
                    <h2>Que hacemos</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Preasent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacina et magna</p>
                </div>
                <img src="../assets/images/mapaGoogle.png">
            </aside>
        </section>
    </main>
    <footer>Graphel Desarrollo Web, copyright &copy 2017</footer>
</body>
</html>